<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/styles/all.min.css" rel="stylesheet" />
    <link href="~/styles/style.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div id="thumbnails"></div>
    <div id="imageViewer">
        <img id="imageViewerImg" />
        <i class="fas fa-times" id="closeButton"></i>
    </div>
    <div class="container">
        <div class="buttons" id="buttons">
            <div>
                <button id="loadButton" class="button load">Load <i class="fas fa-arrow-down"></i></button>
                <button id="saveButton" class="button save">Save <i class="fas fa-arrow-up"></i></button>
            </div>
        </div>
        <div id="canvasWrapper">
            <img id="img" />
            <canvas id="canvas"></canvas>
        </div>
    </div>
    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/script.js" asp-append-version="true"></script>
</body>
</html>